/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-hsdx87loi8] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-hsdx87loi8] {
    flex: 1;
}

.sidebar[b-hsdx87loi8] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-hsdx87loi8] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-hsdx87loi8]  a, .top-row[b-hsdx87loi8]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-hsdx87loi8]  a:hover, .top-row[b-hsdx87loi8]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-hsdx87loi8]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-hsdx87loi8] {
        justify-content: space-between;
    }

    .top-row[b-hsdx87loi8]  a, .top-row[b-hsdx87loi8]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-hsdx87loi8] {
        flex-direction: row;
    }

    .sidebar[b-hsdx87loi8] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-hsdx87loi8] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-hsdx87loi8]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-hsdx87loi8], article[b-hsdx87loi8] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-6256p3p1ek] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-6256p3p1ek] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-6256p3p1ek] {
    font-size: 1.1rem;
}

.bi[b-6256p3p1ek] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-6256p3p1ek] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-6256p3p1ek] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-6256p3p1ek] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-6256p3p1ek] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-6256p3p1ek] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-6256p3p1ek] {
        padding-bottom: 1rem;
    }

    .nav-item[b-6256p3p1ek]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-6256p3p1ek]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-6256p3p1ek]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-6256p3p1ek] {
        display: none;
    }

    .collapse[b-6256p3p1ek] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-6256p3p1ek] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Pages/Administrador.razor.rz.scp.css */
body[b-x244yf2uzo] {
    padding: 25px;
}

.title[b-x244yf2uzo] {
    color: #5C6AC4;
}

.flex-container[b-x244yf2uzo] {
}

/* Estilo para los botones */
.btn-primary[b-x244yf2uzo] {
    background-color: #662249; /* Color morado */
    padding: 10px 20px;
    margin: 10px;
    min-width: 150px;
    text-align: center;
    display: inline-block;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

    .btn-primary:hover[b-x244yf2uzo] {
        background-color: #4b1730; /* Tonalidad más oscura de morado */
    }

/* Estilo de las secciones de los divs */
div3[b-x244yf2uzo], div1[b-x244yf2uzo], div4[b-x244yf2uzo], div5[b-x244yf2uzo], div6[b-x244yf2uzo] {
    color: white;
}

div8[b-x244yf2uzo] {
    text-decoration: none;
    color: black;
    padding: 15px;
    background-color: #f9f9f9;
    width: 185px;
    display: none;
}

div7:hover div8[b-x244yf2uzo] {
    display: block;
}

div10[b-x244yf2uzo] {
    text-decoration: none;
    color: black;
}
/* /Pages/Error.razor.rz.scp.css */
body[b-lq7zpl2vgr] {
    font-family: Arial, sans-serif;
}

table[b-lq7zpl2vgr], th[b-lq7zpl2vgr], td[b-lq7zpl2vgr] {
    border: 1px solid #ddd;
    text-align: left;
}

th[b-lq7zpl2vgr], td[b-lq7zpl2vgr] {
    padding: 8px;
}

button1[b-lq7zpl2vgr], button2[b-lq7zpl2vgr] {
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: blueviolet; color: white;
}


/* /Pages/InicioSecion.razor.rz.scp.css */
/* Asegura que el cuerpo ocupe toda la pantalla */
body[b-a5g3itsmgl] {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    height: 100vh; /* Hace que el cuerpo ocupe toda la altura de la pantalla */
    margin: 0; /* Elimina márgenes predeterminados */
    background-color: #f4f4f4; /* Fondo suave para la página */
}

.title[b-a5g3itsmgl] {
    color: #5C6AC4;
    text-align: center; /* Centra el título */
    margin-bottom: 20px;
}

form[b-a5g3itsmgl] {
    background-color: #44174E;
    border: 1px solid Black;
    padding: 20px;
    width: 300px; /* Establece un ancho fijo para el formulario */
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos dentro del formulario */
}

.form-group[b-a5g3itsmgl] {
    color: white;
    margin-bottom: 15px;
    width: 100%; /* Hace que los campos de entrada ocupen todo el ancho del formulario */
}

label[b-a5g3itsmgl] {
    display: block;
    margin-bottom: 5px;
}

input[b-a5g3itsmgl] {
    padding: 8px;
    width: 100%; /* Los inputs ocuparán todo el ancho disponible */
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[b-a5g3itsmgl] {
    padding: 10px;
    width: 100%; /* El botón ocupará todo el ancho disponible */
    background-color: #5C6AC4;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

    button:hover[b-a5g3itsmgl] {
        background-color: #4a5ca1;
    }
