body {
    padding: 25px;
}

.title {
    color: #5C6AC4;
}

.flex-container {
}

/* Estilo para los botones */
.btn-primary {
    background-color: #662249; /* Color morado */
    padding: 10px 20px;
    margin: 10px;
    min-width: 150px;
    text-align: center;
    display: inline-block;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

    .btn-primary:hover {
        background-color: #4b1730; /* Tonalidad más oscura de morado */
    }

/* Estilo de las secciones de los divs */
div3, div1, div4, div5, div6 {
    color: white;
}

div8 {
    text-decoration: none;
    color: black;
    padding: 15px;
    background-color: #f9f9f9;
    width: 185px;
    display: none;
}

div7:hover div8 {
    display: block;
}

div10 {
    text-decoration: none;
    color: black;
}
