@page "/Administrador"

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!-- Encabezado -->
    <header>
        <h1 class="title">Bienvenido Administrador</h1>
    </header>

    <!-- Contenedor principal -->
    <main>
        <!-- Menú de opciones -->
        <section class="menu-section">
           
            <nav>
                <ul class="menu-list" style="list-style: none; padding: 0;">
                    <li><button class="btn-primary" data-navigation="/AdministradorCambiarContraseña">Cambiar Contraseña</button></li>
                    <li><button class="btn-primary" data-navigation="/AdministradorCambiarPuntoFuerte">Cambiar Punto Fuerte</button></li>
                    <li><button class="btn-primary" data-navigation="/AdministradorControlInventario">Control de Inventarios</button></li>
                    <li><button class="btn-primary" data-navigation="/AdministradorModificacionHorarioMatricula">Modificación de Horarios de la Matrícula</button></li>
                    <li><button class="btn-primary" data-navigation="/AdministradorControldeFacturacion">Control de Facturación</button></li>
                    <li><button class="btn-primary" data-navigation="/AdministradorReportes">Reportes</button></li>
                </ul>
            </nav>
        </section>
    </main>

    <!-- Pie de página -->
    <footer>
        <p id="currentTime"></p>
    </footer>

    <script src="script.js"></script>
</body>
</html>





