@page "/Administrador"
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Administrador</title>
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
    <!-- Encabezado -->
    <header>
        <h1 class="title">Bienvenido Administrador</h1>
    </header>

    <!-- Contenedor principal -->
    <main>
        <!-- Cambiar contraseña -->
        <section class="form-section">
            <h2>Gestiones</h2>
            <button class="btn-primary" onclick="location.href='/AdministradorCambiarContraseña'">
                Cambiar Contraseña
            </button>
        </section>

        <!-- Cambiar Punto Fuerte -->
        <section class="form-section">
            <button class="btn-primary" onclick="location.href='/AdministradorCambiarPuntoFuerte'">
                Cambiar Punto Fuerte
            </button>
        </section>

        <!-- Control de Inventarios -->
        <section class="form-section">
            <button class="btn-primary" onclick="location.href='/AdministradorControlInventario'">
                Control de Inventarios
            </button>
        </section>

        <!-- Modificación de Horarios de la Matrícula -->
        <section class="form-section">
            <button class="btn-primary" onclick="location.href='/AdministradorModificacionHorarioMatricula'">
                Modificación de Horarios de la Matrícula
            </button>
        </section>

        <!-- Control de Facturación -->
        <section class="form-section">
            <button class="btn-primary" onclick="location.href='/AdministradorControldeFacturacion'">
                Control de Facturación
            </button>
        </section>

        <!-- Reportes -->
        <section class="form-section">
            <button class="btn-primary" onclick="location.href='/AdministradorReportes'">
                Reportes
            </button>
        </section>
    </main>

    <!-- Pie de página -->
    <footer>
        <p id="currentTime"></p>
    </footer>

    <script src="script.js"></script>
</body>
</html>




