@page "/Cliente"

<h1 class="title">GYM FAST FORCE</h1>

<div>
    <!-- Botón para redirigir a la página ClienteClase.razor -->
    <button onclick="irA('/ClienteClase')">Ver clases inscritos</button>
</div>
<br />

<div>
    <!-- Botón para redirigir a la página ClienteMembresia.razor -->
    <button onclick="irA('/ClienteMembresia')">Editar membresía</button>
</div>
<br />

<div>
    <!-- Botón para redirigir a la página ClienteRutina.razor -->
    <button onclick="irA('/ClienteRutina')">Rutina</button>
</div>
<br />

<div>
    <!-- Botón para redirigir a la página ClienteVerClase.razor -->
    <button onclick="irA('/ClienteClase')">Ir a Cliente Ver Clase</button>
</div>
<br />

<script>
    // Función JavaScript para manejar la redirección a una página específica
    function irA(pagina) {
        location.href = pagina; // Redirige a la página proporcionada como parámetro
    }
</script>
