@page "/Entrenador" 

<!DOCTYPE html>
<html>

<head>
    <!-- Meta información básica -->
    <title>Entrenador</title>
    
    <!-- Enlace a un archivo de estilos externo -->
    <link rel="stylesheet" href="styles.css" />
</head>

<body>
    <!-- Espaciado inicial -->
    <br />

    <!-- Título principal para la página -->
    <h1 class="title">BIENVENIDO ENTRENADOR</h1>

    <div>
        <!-- Subtítulo para la sección de opciones de modificación -->
        <h2 class="mod-title">Opciones de Modificación</h2>

        <!-- Contenedor para organizar los botones -->
        <div class="button-container">
            <!-- Botón para redirigir a la página de programación de clases -->
            <button onclick="location.href='/EntrenadorProgramarClases'" class="send-btn">
                Programar Clases
            </button>

            <!-- Botón para redirigir a la página de agregar rutinas -->
            <button onclick="location.href='/EntrenadorAgregarRutina'" class="send-btn">
                Modificar rutina del cliente
            </button>

            <!-- Botón para redirigir a la página de emitir facturas -->
            <button onclick="location.href='/EntrenadorEmitirFacturas'" class="send-btn">
                Emitir Facturas
            </button>

            <!-- Botón para redirigir a la página de reportes -->
            <button onclick="location.href='/EntrenadorReporte'" class="send-btn">
                Reporte
            </button>

        </div>

        <!-- Espaciado adicional debajo de los botones -->
        <br /><br />
    </div>

    <!-- Elemento para mostrar la hora actual si se implementa -->
    <p id="currentTime"></p>

    <!-- Archivo de script externo (si contiene funciones para actualizaciones dinámicas) -->
    <script src="script.js"></script>
</body>

</html>

