body {
    padding: 25px;
}

.title {
    color: #5C6AC4;
}

.mod-title {
    font-size: 1.5em; /* Ajusta el tamaño del título a un tamaño mediano */
    color: #5C6AC4;
    margin-bottom: 20px; /* Espacio debajo del título */
}

button {
    background-color: #A34054;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

    button:hover {
        background-color: #8e2e45; /* Cambia el color del botón cuando pasa el mouse */
    }

.button-container {
    display: flex;
    gap: 10px; /* Añade un pequeño espacio entre los botones */
    margin-bottom: 20px; /* Añade espacio entre los botones y el campo de búsqueda */
}

.Datos {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

#currentTime {
    text-align: center;
    margin-top: 20px;
}
