
<!DOCTYPE html>
<html>
<head>
    <title>Entrenador</title>
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
    <button onclick="location.href='https://www.facebook.com'">Cerrar Sesión</button>
    <br />
    <br />
    <br />
    <h1 class="title">BIENVENIDO ENTRENADOR</h1>

    <div>
        <div>
            <button style="margin: 1em 0" type="submit" class="send-btn">Ver Reportes de Clases</button>
            <br /><br />
            <div class="Datos">
                <label for="Nombre">Busca tu Nombre</label>
                <input type="text" id="Nombre" name="Nombre" />
                <br /><br />
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Num Clase</th>
                            <th>ID Clase</th>
                            <th>ID ENTRENADOR</th>
                            <th>Clase</th>
                            <th>Fecha</th>
                            <th>Horario</th>
                            <th>Cupos</th>
                            <th>Precio Clase</th>
                            <th>Usuarios Inscritos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <br /><br />
                <button style="margin: 1em 0" type="submit" class="send-btn">Filtrar por clase</button>
                <button style="margin: 1em 0" type="submit" class="send-btn">Filtrar por horario</button>
                <button style="margin: 1em 0" type="submit" class="send-btn">Mostrar todo</button>
                <button style="margin: 1em 0" type="submit" class="send-btn">Guardar Reportes</button>
            </div>
        </div>

        <button style="margin: 1em 0" type="submit" class="send-btn">Agregar Programación de Funcionales</button>
        <br /><br />
        <button style="margin: 1em 0" type="submit" class="send-btn">Agregar Rutina</button>
        <br /><br />
        <button style="margin: 1em 0" type="submit" class="send-btn">Emitir facturas</button>
    </div>

    <p id="currentTime"></p>
    <script src="script.js"></script>
</body>
</html>




Javascript:

function showTime() {
	document.getElementById('currentTime').innerHTML = new Date().toUTCString();
}
showTime();
setInterval(function () {
	showTime();
}, 1000);