body
{
  padding: 25px;
}
.title 
{
    color: #5C6AC4;
}

form{
      background-color:#44174E;
      border: 1px Solid Black;
      padding: 3px;
      margin: 3px;
      min-width: 20px;
      text-align: center;
      display: inline-block
}
div1{
  color: white;
}
div2{
  color:white;
}