body[b-x244yf2uzo] {
    padding: 25px;
}

.title[b-x244yf2uzo] {
    color: #5C6AC4;
}

.flex-container[b-x244yf2uzo] {
}

/* Estilo para los botones */
.btn-primary[b-x244yf2uzo] {
    background-color: #662249; /* Color morado */
    padding: 10px 20px;
    margin: 10px;
    min-width: 150px;
    text-align: center;
    display: inline-block;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

    .btn-primary:hover[b-x244yf2uzo] {
        background-color: #4b1730; /* Tonalidad más oscura de morado */
    }

/* Estilo de las secciones de los divs */
div3[b-x244yf2uzo], div1[b-x244yf2uzo], div4[b-x244yf2uzo], div5[b-x244yf2uzo], div6[b-x244yf2uzo] {
    color: white;
}

div8[b-x244yf2uzo] {
    text-decoration: none;
    color: black;
    padding: 15px;
    background-color: #f9f9f9;
    width: 185px;
    display: none;
}

div7:hover div8[b-x244yf2uzo] {
    display: block;
}

div10[b-x244yf2uzo] {
    text-decoration: none;
    color: black;
}
