body[b-lq7zpl2vgr] {
    font-family: Arial, sans-serif;
}

table[b-lq7zpl2vgr], th[b-lq7zpl2vgr], td[b-lq7zpl2vgr] {
    border: 1px solid #ddd;
    text-align: left;
}

th[b-lq7zpl2vgr], td[b-lq7zpl2vgr] {
    padding: 8px;
}

button1[b-lq7zpl2vgr], button2[b-lq7zpl2vgr] {
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: blueviolet; color: white;
}


