/* Asegura que el cuerpo ocupe toda la pantalla */
body[b-a5g3itsmgl] {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    height: 100vh; /* Hace que el cuerpo ocupe toda la altura de la pantalla */
    margin: 0; /* Elimina márgenes predeterminados */
    background-color: #f4f4f4; /* Fondo suave para la página */
}

.title[b-a5g3itsmgl] {
    color: #5C6AC4;
    text-align: center; /* Centra el título */
    margin-bottom: 20px;
}

form[b-a5g3itsmgl] {
    background-color: #44174E;
    border: 1px solid Black;
    padding: 20px;
    width: 300px; /* Establece un ancho fijo para el formulario */
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos dentro del formulario */
}

.form-group[b-a5g3itsmgl] {
    color: white;
    margin-bottom: 15px;
    width: 100%; /* Hace que los campos de entrada ocupen todo el ancho del formulario */
}

label[b-a5g3itsmgl] {
    display: block;
    margin-bottom: 5px;
}

input[b-a5g3itsmgl] {
    padding: 8px;
    width: 100%; /* Los inputs ocuparán todo el ancho disponible */
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[b-a5g3itsmgl] {
    padding: 10px;
    width: 100%; /* El botón ocupará todo el ancho disponible */
    background-color: #5C6AC4;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

    button:hover[b-a5g3itsmgl] {
        background-color: #4a5ca1;
    }
