body[b-pp4oj5jj73]
{
  padding: 25px;
}
.title[b-pp4oj5jj73] 
{
    color: #5C6AC4;
}

form[b-pp4oj5jj73]{
      background-color:#44174E;
      border: 1px Solid Black;
      padding: 3px;
      margin: 3px;
      min-width: 20px;
      text-align: center;
      display: inline-block
}
div1[b-pp4oj5jj73]{
  color: white;
}
div2[b-pp4oj5jj73]{
  color:white;
}